.searchDiv{
    display: flex;
    width: 96%;
    margin: 0 auto;
    border: 1px rgb(169, 169, 169) solid;
    border-radius: 10px;
    
}
.searchDiv button{
    border: none;
    background-color: transparent;
    padding: 0.25rem;
    color: #a7b9d8;
    outline: none;
}
.full-width {
    width: 100%; /* w-full */
    border: none; /* border-none */
    background: transparent; /* bg-transparent */
    padding: 1rem;
    color: #9ca3af; /* text-gray-400 */
    outline: none; /* outline-none */
  }
  
  .full-width:focus {
    outline: none; /* focus:outline-none */
  }
  