<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{this.categoryName}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <br>
  <br>
  <br>
  <br>
  <app-search (AssumeHardSearch)="searchHadit(searchControl.value)" [searchControl]="searchControl"></app-search>
  @for (item of this.hadites; track $index) {
    <div>
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{item.content}}</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
          <ion-card-subtitle>{{item.onPublisher}}</ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </div>
  }
</ion-content>
