.toolbar-flex {
    display: flex;
    background-color: red;
    justify-content: space-between; /* Space between left and right */
    align-items: center; /* Align items vertically in the center */
  }
  
.top-header{
    display: flex;
    padding-top: 10px;
    height: 8%;
}
.content-top-header{
    display: flex;
    width: 100%;
}
/* filepath: /d:/projects/haditproject/HaditApk/src/app/hadits/tab2.page.scss */
ion-item {
    display: flex;
    // align-items: center;
    align-content: space-between;
  }
  
  ion-icon {
    cursor: pointer;
    margin-right: 8px;
  }
  
  ion-card-subtitle {
    margin-left: auto;
  }
  .red {
    color: red;
  }