<ion-tabs>

    <ion-tab-bar slot="bottom">
  
      <ion-tab-button href="/">
        <!-- <ion-icon aria-hidden="true" name="ellipse"></ion-icon> -->
        <ion-label>المجموعات </ion-label>
      </ion-tab-button>

      <ion-tab-button tab="hadits/0" href="/hadits/0">
        <!-- <ion-icon aria-hidden="true" name="ellipse"></ion-icon> -->
        <ion-label>الأحاديث</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="favorites" href="/favorites">
        <!-- <ion-icon aria-hidden="true" name="star"></ion-icon> -->
        <ion-label>المفضلات</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>