<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      المجموعات
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<app-header-component [Title]="'المجموعات'"></app-header-component>
<!-- <ion-header [translucent]="true" class="top-header">
  <div class="right-content">
    <div class="content-top-header">
      <ion-title class="">
        المجموعات
      </ion-title>
    </div>
  </div>
</ion-header> -->


<ion-content [fullscreen]="true">
@for (item of this.categories; track $index) {
  <!-- <ion-item > -->

    <ion-card [routerLink]="['/hadites', item.id]">
      <ion-card-header>
        <ion-card-title>{{item.name}}</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <ion-card-subtitle>تصفح الأحاديث</ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  <!-- </ion-item> -->
  }
  <!-- <app-footer-component></app-footer-component> -->
</ion-content>

